[submodule "layers/exwm"]
	path = layers/exwm
	url = git@github.com:timor/spacemacsOS.git
[submodule "private/org-habit-plus"]
	path = private/org-habit-plus
	url = git@github.com:oddious/org-habit-plus.git
[submodule "private/all-the-icons.el"]
	path = private/all-the-icons.el
	url = git@github.com:domtronn/all-the-icons.el.git
